/* src/styles/PlayPage.css */
.playPage {
  text-align: center;
  padding: 2rem;
  background-color: #f0f0f0;
}

.playImage {
  width: 300px;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.playAudio {
  width: 100%;
  max-width: 400px;
}
